.headerWrapper {
    .top-strip {
        padding: 8px 0px;
        p {
            color: white;
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 0;
        }
    }
    .bg-blue {
        background-color: #1e3c97;
    }
    .header {
        width: 100%;
        height: auto;
        padding: 25px 0px;
        .logoWrapper {
            img {
                width: 100%;
            }
        }
        .part2{
            display: flex;
            gap: 20px;
        }
        .part3{
            .btn-user{
                align-items: center;
                justify-content: center;
                min-width: 45px !important;
                height: 45px !important;
                width: 45px !important;
                border-radius: 50% !important;
                border: 1px solid rgba(0, 0, 0, 0.1) !important;
                color: #000;
                svg{
                    font-size: 22px;
                }
            }
            .cartTab{
                .btn-cart{
                    background-color: #fff1ee !important;
                    align-items: center;
                    justify-content: center;
                    min-width: 45px !important;
                    height: 45px !important;
                    width: 45px !important;
                    border-radius: 50% !important;
                    border: 1px solid rgba(0, 0, 0, 0.1) !important;
                    color: #000;
                    svg{
                        color: #ea2b0f !important;
                    }
                }
                .price{
                    font-size: 18px;
                    color: rgba(0, 0, 0, 0.8);
                }
                .count{
                    position: absolute;
                    top: -6px;
                    right: -4px;
                    background-color: #ea2b0f;
                    border-radius: 50%;
                    color: #fff;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
   
}
