.countryDrop{
    width: 170px;
    height: 60px;
    min-width: 170px;
    color: #000 !important;
    border: 1px solid rgba(0,0,0,0.2) !important;
    border-radius: 7px !important;
    padding: 10px !important;
    .info{
        text-transform: capitalize !important;
        text-align: left;
        line-height: 16px;
        justify-content: flex-start;

        .lable{
            font-size: 12px !important;
            color: rgba(0, 0, 0, 0.7);
        }
        
        .name{
            font-weight: 700;
            font-size: 14px;
            color: #233a95;
        }
    }

    .ml-auto{

        svg{
            opacity: 0.7;
        }
    }
}
.locationModal{
    .MuiPaper-elevation{
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        right: 0px;
        position: relative;
        p{
            margin-bottom: 0px;
        }
        .searchBoxDialog{
            width: 100%;
        }
        .closeBtn{
            position: absolute;
            top: 10px;
            right: 5px;
            cursor: pointer;
            color: #000;
            min-width: 40px;
            width: 40px;
            border-radius: 50% !important;
            svg{
                width: 22px;
                height: 22px;
            }
        }
        .locationList{
            margin-bottom: 0;
            max-height: 400px;
            overflow-y: scroll;
            overflow-x: hidden;
            li{
                width: 100%;
                list-style: none;
                button{
                    width: 100%;
                    text-transform: capitalize !important;
                    color: #000 !important;
                    justify-content: flex-start !important;
                    text-align: left;
                    padding: 15px 20px !important;
                    &.active{
                        background-color: blue !important;
                    }
                }
            }
        }
    }
}