nav{
    .allCategoriTab{
     background-color: #2bbef9;
     padding: 12px 15px !important;
     border-radius: 30px;
     > *{
         color: #fff;
     }
     &:hover{
         background-color: #2bbef9;
     }
     .text{
         font-weight: 600;
     }
    }
     svg{
        font-size: 20px !important;

     }
     .icon1{
        margin-right: 10px;
        font-size: 20px !important;
     }
     .icon2{
        margin-left: 10px;
        font-size: 15px !important;
     }
     .navPart2{
        ul{
            margin-bottom: 0px;
            display: flex;
            li{
                display: flex;
                align-items: center;
                a{
                    font-size: 16px;
                    font-weight: 600;
                    text-decoration: none;
                    color: rgba(0,0,0,0.7);
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;
                    padding: 10px 20px;
                    transition: all 0.2s ease-in-out;
                    border-radius: 25px;
                    white-space: nowrap;
                    &:hover{
                        background-color: #f0faff;
                        color: #2bbef9;
                    }
                }
            }
        }
     }
 }